In [2]:
import pandas as pd
import numpy as np

Data Analysis

In [8]:
df = pd.read_csv('/home/tallman/ML/ML-mini-project/Dataset/Banglore_traffic_Dataset.csv')
df.head(10)

,Date,Area Name,Road/Intersection Name,Traffic Volume,Average Speed,Travel Time Index,Congestion Level,Road Capacity Utilization,Incident Reports,Environmental Impact,Public Transport Usage,Traffic Signal Compliance,Parking Usage,Pedestrian and Cyclist Count,Weather Conditions,Roadwork and Construction Activity
0,2022-01-01,Indiranagar,100 Feet Road,50590,50.230299,1.500000,100.000000,100.000000,0,151.180,70.632330,84.044600,85.403629,111,Clear,No
1,2022-01-01,Indiranagar,CMH Road,30825,29.377125,1.500000,100.000000,100.000000,1,111.650,41.924899,91.407038,59.983689,100,Clear,No
2,2022-01-01,Whitefield,Marathahalli Bridge,7399,54.474398,1.039069,28.347994,36.396525,0,64.798,44.662384,61.375541,95.466020,189,Clear,No
3,2022-01-01,Koramangala,Sony World Junction,60874,43.817610,1.500000,100.000000,100.000000,1,171.748,32.773123,75.547092,63.567452,111,Clear,No
4,2022-01-01,Koramangala,Sarjapur Road,57292,41.116763,1.500000,100.000000,100.000000,3,164.584,35.092601,64.634762,93.155171,104,Clear,No
5,2022-01-01,M.G. Road,Trinity Circle,47848,34.241963,1.500000,100.000000,100.000000,3,145.696,39.927871,61.016765,55.394571,94,Overcast,No
6,2022-01-01,M.G. Road,Anil Kumble Circle,36574,29.982430,1.500000,100.000000,100.000000,3,123.148,72.479130,81.573690,90.372008,115,Clear,No
7,2022-01-01,Jayanagar,Jayanagar 4th Block,25379,38.455179,1.500000,79.038823,100.000000,2,100.758,46.315344,88.120758,68.181480,92,Clear,No
8,2022-01-01,Jayanagar,South End Circle,25022,35.039373,1.500000,78.979596,100.000000,1,100.044,44.261693,99.426018,62.102764,105,Clear,No
9,2022-01-01,Hebbal,Hebbal Flyover,31760,56.904556,1.500000,97.672462,100.000000,1,113.520,12.854260,83.635718,83.878218,91,Clear,No